<div class="login-card mb-4" style="padding: 15px;">
    <form method="get" class="row g-2 align-items-end">
        <div class="col-md-3">
            <div class="input-wrapper">
                <input type="text" name="hashtag" value="@ViewBag.Hashtag" placeholder="Hashtag" />
                <label>Hashtag</label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="input-wrapper">
                <input type="text" name="author" value="@ViewBag.Author" placeholder="Author" />
                <label>Author</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-wrapper">
                <input type="date" name="start" style="padding: 10px;" />
                <label>From</label>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-wrapper">
                <input type="date" name="end" style="padding: 10px;" />
                <label>To</label>
            </div>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn w-100" style="padding: 10px;">Search</button>
        </div>
    </form>
</div>